@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--theme-primary);
  --color-header-from: var(--theme-header-from);
  --color-header-to: var(--theme-header-to);
  --color-footer-from: var(--theme-footer-from);
  --color-footer-to: var(--theme-footer-to);
  --text-smaller: smaller;
  --font-size-smaller: smaller;
  --min-width-30: 7.5rem;
}

.dark {
  /* Lower lightness and chroma (saturation) for a softer look on dark backgrounds */
  --color-primary: oklch(
    from var(--theme-primary) calc(l * 0.9) calc(c * 0.7) h
  );
}

@utility kerning-* {
  font-kerning: --value("auto", "none", "normal");
}

@utility bg-angled-gradient {
  --gradient-angle: 16deg;
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--tw-gradient-from, transparent),
    var(--tw-gradient-to, transparent)
  );
}
